<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Class Scheduler</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" defer></script>
  </head>
  <body>
    <div>
      <form action="/login">
        <input type="hidden" name="response_type" value="code"/>
        <input type="hidden" name="redirect_uri" value="https://famous-granite-auroraceratops.glitch.me/token"/>
        <input type="hidden" name="client_id" value="K09RzbDQoKa5tLEQIlw"/>
        <input type="email" name="email"/>
        <button type="submit">Login with Zoom</button>
      </form>
      <p id="resPreview"></p>
  </div>
  </body>
</html>
